<button class='add-item-button' (click)="openModal()">Add Item</button>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Complete</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>{{ formatDate(item.date) }}</td>
            <td>
                <input type="checkbox" [(ngModel)]="item.complete" (change)="markAsComplete(item)"/>
            </td>
            <td>
              <button class="edit-task-button" type="button" (click)="openEditTaskModal(item)">Edit Task</button>
              <button class="delete-task-button" type="button" (click)="removeItem(item)">Delete Task</button>
            </td>
        </tr>
    </tbody>
</table>


<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2 class="modal-title-text">Add New Task</h2>
    <form (ngSubmit)="onSubmit()">
      <label class="task-name-label">
        Task Name:
        <input type="text" [(ngModel)]="newTaskName" name="taskName" required />
      </label>
      <br>
      <label class="deadline-label">
        Deadline:
        <input type="date" [(ngModel)]="newTaskDate" name="taskDate" required />
      </label>
      <br>
      <button class='submit-button' type="submit">Add</button>
      <button class='cancel-button' type="button" (click)="closeModal()">Cancel</button>
    </form>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showEditTaskModal">
  <div class="modal">
    <h2 class="modal-title-text">Edit Task</h2>
    <form (ngSubmit)="onEditSubmit()">
      <label class="task-name-label">
        Task Name:
        <input type="text" [(ngModel)]="editTaskName" name="editTaskName" required />
      </label>
      <br>
      <label class="deadline-label">
        Deadline:
        <input type="date" [(ngModel)]="editTaskDate" name="editTaskDate" required />
      </label>
      <br>
      <button class='submit-button' type="submit">Save</button>
      <button class='cancel-button' type="button" (click)="closeEditModal()">Cancel</button>
    </form>
  </div>
</div>
