body {
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background: url('/assets/background-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}